In [80]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [81]:
dataset = pd.read_csv('50_Startups_EDA.csv')

In [82]:
dataset.isnull().sum()

R&D Spend          1
Sales              1
Administration     1
Marketing Spend    2
State              0
Profit             0
dtype: int64

In [83]:
df_1 = pd.get_dummies(dataset['State'])

In [84]:
df_1

    Chennai  Coimbatore  Trichy
0      True       False   False
1      True       False   False
2      True       False   False
3      True       False   False
4      True       False   False
5     False       False    True
6     False        True   False
7      True       False   False
8     False        True   False
9     False        True   False
10    False       False    True
11     True       False   False
12    False        True   False
13    False       False    True
14     True       False   False
15    False        True   False
16     True       False   False
17    False        True   False
18    False       False    True
19     True       False   False
20    False        True   False
21    False       False    True
22    False        True   False
23     True       False   False
24     True       False   False
25    False       False    True
26     True       False   False
27    False       False    True
28    False        True   False
29    False        True   False
30    False        True   False
31     True       False   False
32    False        True   False
33    False        True   False
34     True       False   False
35    False       False    True
36    False       False    True
37    False       False    True
38    False        True   False
39     True       False   False
40    False        True   False
41    False       False    True
42     True       False   False
43    False       False    True
44    False       False    True
45    False       False    True
46    False        True   False
47    False        True   False
48    False       False    True
49    False       False    True
50     True       False   False
51     True       False   False
52     True       False   False
53     True       False   False
54     True       False   False
55    False        True   False
56     True       False   False
57     True       False   False
58    False       False    True
59    False       False    True

In [85]:
df_1 = df_1.astype(int)

In [86]:
df_1

    Chennai  Coimbatore  Trichy
0         1           0       0
1         1           0       0
2         1           0       0
3         1           0       0
4         1           0       0
5         0           0       1
6         0           1       0
7         1           0       0
8         0           1       0
9         0           1       0
10        0           0       1
11        1           0       0
12        0           1       0
13        0           0       1
14        1           0       0
15        0           1       0
16        1           0       0
17        0           1       0
18        0           0       1
19        1           0       0
20        0           1       0
21        0           0       1
22        0           1       0
23        1           0       0
24        1           0       0
25        0           0       1
26        1           0       0
27        0           0       1
28        0           1       0
29        0           1       0
30        0           1       0
31        1           0       0
32        0           1       0
33        0           1       0
34        1           0       0
35        0           0       1
36        0           0       1
37        0           0       1
38        0           1       0
39        1           0       0
40        0           1       0
41        0           0       1
42        1           0       0
43        0           0       1
44        0           0       1
45        0           0       1
46        0           1       0
47        0           1       0
48        0           0       1
49        0           0       1
50        1           0       0
51        1           0       0
52        1           0       0
53        1           0       0
54        1           0       0
55        0           1       0
56        1           0       0
57        1           0       0
58        0           0       1
59        0           0       1

In [87]:
df_2 = pd.concat([dataset,df_1],axis=1)

In [88]:
df_2

,R&D Spend,Sales,Administration,Marketing Spend,State,Profit,Chennai,Coimbatore,Trichy
0,210983.00,210983.00,20938.00,635.00,Chennai,210937.00,1,0,0
1,327849.00,327849.00,28746.00,948.00,Chennai,384664.00,1,0,0
2,210983.00,210983.00,20938.00,NaN,Chennai,210937.00,1,0,0
3,327849.00,327849.00,NaN,948.00,Chennai,384664.00,1,0,0
4,165349.20,165349.20,136897.80,471784.10,Chennai,192261.83,1,0,0
5,162597.70,162597.70,151377.59,443898.53,Trichy,191792.06,0,0,1
6,153441.51,153441.51,101145.55,407934.54,Coimbatore,191050.39,0,1,0
7,144372.41,144372.41,118671.85,383199.62,Chennai,182901.99,1,0,0
8,142107.34,142107.34,91391.77,366168.42,Coimbatore,166187.94,0,1,0
9,142107.34,142107.34,91391.77,366168.42,Coimbatore,166187.94,0,1,0
10,134615.46,134615.46,147198.87,127716.82,Trichy,156122.51,0,0,1
11,131876.90,131876.90,99814.71,362861.36,Chennai,156991.12,1,0,0
12,130298.13,130298.13,145530.06,323876.68,Coimbatore,155752.60,0,1,0
13,123334.88,123334.88,108679.17,304981.62,Trichy,149759.96,0,0,1
14,120542.52,120542.52,148718.95,311613.29,Chennai,152211.77,1,0,0
15,119943.24,119943.24,156547.42,256512.92,Coimbatore,132602.65,0,1,0
16,114523.61,114523.61,122616.84,261776.23,Chennai,129917.04,1,0,0
17,101913.08,101913.08,110594.11,229160.95,Coimbatore,146121.95,0,1,0
18,100671.96,100671.96,91790.61,249744.55,Trichy,144259.40,0,0,1
19,94657.16,94657.16,145077.58,282574.31,Chennai,125370.37,1,0,0
20,93863.75,93863.75,127320.38,249839.44,Coimbatore,141585.52,0,1,0
21,91992.39,91992.39,135495.07,252664.93,Trichy,134307.35,0,0,1
22,91749.16,91749.16,114175.79,294919.57,Coimbatore,124266.90,0,1,0
23,86419.70,86419.70,153514.11,0.00,Chennai,122776.86,1,0,0
24,78389.47,78389.47,153773.43,299737.29,Chennai,111313.02,1,0,0
25,78013.11,78013.11,121597.55,264346.06,Trichy,126992.93,0,0,1
26,77044.01,77044.01,99281.34,140574.81,Chennai,108552.04,1,0,0
27,76253.86,76253.86,113867.30,298664.47,Trichy,118474.03,0,0,1
28,75328.87,75328.87,144135.98,134050.07,Coimbatore,105733.54,0,1,0
29,75328.87,75328.87,144135.98,134050.07,Coimbatore,105733.54,0,1,0
30,73994.56,73994.56,122782.75,303319.26,Coimbatore,110352.25,0,1,0
31,72107.60,72107.60,127864.55,353183.81,Chennai,105008.31,1,0,0
32,67532.53,67532.53,105751.03,304768.73,Coimbatore,108733.99,0,1,0
33,66051.52,66051.52,182645.56,118148.20,Coimbatore,103282.38,0,1,0
34,65605.48,65605.48,153032.06,107138.38,Chennai,101004.64,1,0,0
35,64664.71,64664.71,139553.16,137962.62,Trichy,107404.34,0,0,1
36,64664.71,64664.71,139553.16,137962.62,Trichy,107404.34,0,0,1
37,63408.86,63408.86,129219.61,46085.25,Trichy,97427.84,0,0,1
38,61994.48,61994.48,115641.28,91131.24,Coimbatore,99937.59,0,1,0
39,61136.38,61136.38,152701.92,88218.23,Chennai,97483.56,1,0,0
40,55493.95,55493.95,103057.49,214634.81,Coimbatore,96778.92,0,1,0
41,46426.07,46426.07,157693.92,210797.67,Trichy,96712.80,0,0,1
42,46014.02,46014.02,85047.44,205517.64,Chennai,96479.51,1,0,0
43,44069.95,44069.95,51283.14,197029.42,Trichy,89949.14,0,0,1
44,38558.51,38558.51,82982.09,174999.30,Trichy,81005.76,0,0,1
45,28754.33,28754.33,118546.05,172795.67,Trichy,78239.91,0,0,1
46,28663.76,28663.76,127056.21,201126.82,Coimbatore,90708.19,0,1,0
47,27892.92,27892.92,84710.77,164470.71,Coimbatore,77798.83,0,1,0
48,23640.93,23640.93,96189.63,148001.11,Trichy,71498.49,0,0,1
49,22177.74,22177.74,154806.14,28334.72,Trichy,65200.33,0,0,1
50,20229.59,20229.59,65947.93,185265.10,Chennai,81229.06,1,0,0
51,15505.73,15505.73,127382.30,35534.17,Chennai,69758.98,1,0,0
52,15505.73,15505.73,127382.30,35534.17,Chennai,69758.98,1,0,0
53,15505.73,15505.73,127382.30,35534.17,Chennai,69758.98,1,0,0
54,15505.73,15505.73,127382.30,35534.17,Chennai,69758.98,1,0,0
55,1315.46,1315.46,115816.21,297114.46,Coimbatore,49490.75,0,1,0
56,1000.23,1000.23,124153.04,1903.93,Chennai,64926.08,1,0,0
57,542.05,542.05,51743.15,0.00,Chennai,35673.41,1,0,0
58,NaN,NaN,135426.92,NaN,Trichy,42559.73,0,0,1
59,0.00,0.00,116983.80,45173.06,Trichy,14681.40,0,0,1

In [103]:
df_2.drop(columns=['State'],inplace=True)

In [104]:
df_2

,R&D Spend,Sales,Administration,Marketing Spend,Profit,Chennai,Coimbatore,Trichy
0,210983.00,210983.00,20938.00,635.00,210937.00,1,0,0
1,327849.00,327849.00,28746.00,948.00,384664.00,1,0,0
2,210983.00,210983.00,20938.00,NaN,210937.00,1,0,0
3,327849.00,327849.00,NaN,948.00,384664.00,1,0,0
4,165349.20,165349.20,136897.80,471784.10,192261.83,1,0,0
5,162597.70,162597.70,151377.59,443898.53,191792.06,0,0,1
6,153441.51,153441.51,101145.55,407934.54,191050.39,0,1,0
7,144372.41,144372.41,118671.85,383199.62,182901.99,1,0,0
8,142107.34,142107.34,91391.77,366168.42,166187.94,0,1,0
9,142107.34,142107.34,91391.77,366168.42,166187.94,0,1,0
10,134615.46,134615.46,147198.87,127716.82,156122.51,0,0,1
11,131876.90,131876.90,99814.71,362861.36,156991.12,1,0,0
12,130298.13,130298.13,145530.06,323876.68,155752.60,0,1,0
13,123334.88,123334.88,108679.17,304981.62,149759.96,0,0,1
14,120542.52,120542.52,148718.95,311613.29,152211.77,1,0,0
15,119943.24,119943.24,156547.42,256512.92,132602.65,0,1,0
16,114523.61,114523.61,122616.84,261776.23,129917.04,1,0,0
17,101913.08,101913.08,110594.11,229160.95,146121.95,0,1,0
18,100671.96,100671.96,91790.61,249744.55,144259.40,0,0,1
19,94657.16,94657.16,145077.58,282574.31,125370.37,1,0,0
20,93863.75,93863.75,127320.38,249839.44,141585.52,0,1,0
21,91992.39,91992.39,135495.07,252664.93,134307.35,0,0,1
22,91749.16,91749.16,114175.79,294919.57,124266.90,0,1,0
23,86419.70,86419.70,153514.11,0.00,122776.86,1,0,0
24,78389.47,78389.47,153773.43,299737.29,111313.02,1,0,0
25,78013.11,78013.11,121597.55,264346.06,126992.93,0,0,1
26,77044.01,77044.01,99281.34,140574.81,108552.04,1,0,0
27,76253.86,76253.86,113867.30,298664.47,118474.03,0,0,1
28,75328.87,75328.87,144135.98,134050.07,105733.54,0,1,0
29,75328.87,75328.87,144135.98,134050.07,105733.54,0,1,0
30,73994.56,73994.56,122782.75,303319.26,110352.25,0,1,0
31,72107.60,72107.60,127864.55,353183.81,105008.31,1,0,0
32,67532.53,67532.53,105751.03,304768.73,108733.99,0,1,0
33,66051.52,66051.52,182645.56,118148.20,103282.38,0,1,0
34,65605.48,65605.48,153032.06,107138.38,101004.64,1,0,0
35,64664.71,64664.71,139553.16,137962.62,107404.34,0,0,1
36,64664.71,64664.71,139553.16,137962.62,107404.34,0,0,1
37,63408.86,63408.86,129219.61,46085.25,97427.84,0,0,1
38,61994.48,61994.48,115641.28,91131.24,99937.59,0,1,0
39,61136.38,61136.38,152701.92,88218.23,97483.56,1,0,0
40,55493.95,55493.95,103057.49,214634.81,96778.92,0,1,0
41,46426.07,46426.07,157693.92,210797.67,96712.80,0,0,1
42,46014.02,46014.02,85047.44,205517.64,96479.51,1,0,0
43,44069.95,44069.95,51283.14,197029.42,89949.14,0,0,1
44,38558.51,38558.51,82982.09,174999.30,81005.76,0,0,1
45,28754.33,28754.33,118546.05,172795.67,78239.91,0,0,1
46,28663.76,28663.76,127056.21,201126.82,90708.19,0,1,0
47,27892.92,27892.92,84710.77,164470.71,77798.83,0,1,0
48,23640.93,23640.93,96189.63,148001.11,71498.49,0,0,1
49,22177.74,22177.74,154806.14,28334.72,65200.33,0,0,1
50,20229.59,20229.59,65947.93,185265.10,81229.06,1,0,0
51,15505.73,15505.73,127382.30,35534.17,69758.98,1,0,0
52,15505.73,15505.73,127382.30,35534.17,69758.98,1,0,0
53,15505.73,15505.73,127382.30,35534.17,69758.98,1,0,0
54,15505.73,15505.73,127382.30,35534.17,69758.98,1,0,0
55,1315.46,1315.46,115816.21,297114.46,49490.75,0,1,0
56,1000.23,1000.23,124153.04,1903.93,64926.08,1,0,0
57,542.05,542.05,51743.15,0.00,35673.41,1,0,0
58,NaN,NaN,135426.92,NaN,42559.73,0,0,1
59,0.00,0.00,116983.80,45173.06,14681.40,0,0,1

In [105]:
df_2.fillna(df_2.mean(numeric_only=True), inplace=True)

In [106]:
df_2

,R&D Spend,Sales,Administration,Marketing Spend,Profit,Chennai,Coimbatore,Trichy
0,210983.000000,210983.000000,20938.000000,635.000000,210937.00,1,0,0
1,327849.000000,327849.000000,28746.000000,948.000000,384664.00,1,0,0
2,210983.000000,210983.000000,20938.000000,194802.922586,210937.00,1,0,0
3,327849.000000,327849.000000,116865.793051,948.000000,384664.00,1,0,0
4,165349.200000,165349.200000,136897.800000,471784.100000,192261.83,1,0,0
5,162597.700000,162597.700000,151377.590000,443898.530000,191792.06,0,0,1
6,153441.510000,153441.510000,101145.550000,407934.540000,191050.39,0,1,0
7,144372.410000,144372.410000,118671.850000,383199.620000,182901.99,1,0,0
8,142107.340000,142107.340000,91391.770000,366168.420000,166187.94,0,1,0
9,142107.340000,142107.340000,91391.770000,366168.420000,166187.94,0,1,0
10,134615.460000,134615.460000,147198.870000,127716.820000,156122.51,0,0,1
11,131876.900000,131876.900000,99814.710000,362861.360000,156991.12,1,0,0
12,130298.130000,130298.130000,145530.060000,323876.680000,155752.60,0,1,0
13,123334.880000,123334.880000,108679.170000,304981.620000,149759.96,0,0,1
14,120542.520000,120542.520000,148718.950000,311613.290000,152211.77,1,0,0
15,119943.240000,119943.240000,156547.420000,256512.920000,132602.65,0,1,0
16,114523.610000,114523.610000,122616.840000,261776.230000,129917.04,1,0,0
17,101913.080000,101913.080000,110594.110000,229160.950000,146121.95,0,1,0
18,100671.960000,100671.960000,91790.610000,249744.550000,144259.40,0,0,1
19,94657.160000,94657.160000,145077.580000,282574.310000,125370.37,1,0,0
20,93863.750000,93863.750000,127320.380000,249839.440000,141585.52,0,1,0
21,91992.390000,91992.390000,135495.070000,252664.930000,134307.35,0,0,1
22,91749.160000,91749.160000,114175.790000,294919.570000,124266.90,0,1,0
23,86419.700000,86419.700000,153514.110000,0.000000,122776.86,1,0,0
24,78389.470000,78389.470000,153773.430000,299737.290000,111313.02,1,0,0
25,78013.110000,78013.110000,121597.550000,264346.060000,126992.93,0,0,1
26,77044.010000,77044.010000,99281.340000,140574.810000,108552.04,1,0,0
27,76253.860000,76253.860000,113867.300000,298664.470000,118474.03,0,0,1
28,75328.870000,75328.870000,144135.980000,134050.070000,105733.54,0,1,0
29,75328.870000,75328.870000,144135.980000,134050.070000,105733.54,0,1,0
30,73994.560000,73994.560000,122782.750000,303319.260000,110352.25,0,1,0
31,72107.600000,72107.600000,127864.550000,353183.810000,105008.31,1,0,0
32,67532.530000,67532.530000,105751.030000,304768.730000,108733.99,0,1,0
33,66051.520000,66051.520000,182645.560000,118148.200000,103282.38,0,1,0
34,65605.480000,65605.480000,153032.060000,107138.380000,101004.64,1,0,0
35,64664.710000,64664.710000,139553.160000,137962.620000,107404.34,0,0,1
36,64664.710000,64664.710000,139553.160000,137962.620000,107404.34,0,0,1
37,63408.860000,63408.860000,129219.610000,46085.250000,97427.84,0,0,1
38,61994.480000,61994.480000,115641.280000,91131.240000,99937.59,0,1,0
39,61136.380000,61136.380000,152701.920000,88218.230000,97483.56,1,0,0
40,55493.950000,55493.950000,103057.490000,214634.810000,96778.92,0,1,0
41,46426.070000,46426.070000,157693.920000,210797.670000,96712.80,0,0,1
42,46014.020000,46014.020000,85047.440000,205517.640000,96479.51,1,0,0
43,44069.950000,44069.950000,51283.140000,197029.420000,89949.14,0,0,1
44,38558.510000,38558.510000,82982.090000,174999.300000,81005.76,0,0,1
45,28754.330000,28754.330000,118546.050000,172795.670000,78239.91,0,0,1
46,28663.760000,28663.760000,127056.210000,201126.820000,90708.19,0,1,0
47,27892.920000,27892.920000,84710.770000,164470.710000,77798.83,0,1,0
48,23640.930000,23640.930000,96189.630000,148001.110000,71498.49,0,0,1
49,22177.740000,22177.740000,154806.140000,28334.720000,65200.33,0,0,1
50,20229.590000,20229.590000,65947.930000,185265.100000,81229.06,1,0,0
51,15505.730000,15505.730000,127382.300000,35534.170000,69758.98,1,0,0
52,15505.730000,15505.730000,127382.300000,35534.170000,69758.98,1,0,0
53,15505.730000,15505.730000,127382.300000,35534.170000,69758.98,1,0,0
54,15505.730000,15505.730000,127382.300000,35534.170000,69758.98,1,0,0
55,1315.460000,1315.460000,115816.210000,297114.460000,49490.75,0,1,0
56,1000.230000,1000.230000,124153.040000,1903.930000,64926.08,1,0,0
57,542.050000,542.050000,51743.150000,0.000000,35673.41,1,0,0
58,86311.235424,86311.235424,135426.920000,194802.922586,42559.73,0,0,1
59,0.000000,0.000000,116983.800000,45173.060000,14681.40,0,0,1

In [107]:
df_2.isnull().sum()

R&D Spend          0
Sales              0
Administration     0
Marketing Spend    0
Profit             0
Chennai            0
Coimbatore         0
Trichy             0
dtype: int64

In [108]:
df_2.duplicated().value_counts()

False    54
True      6
Name: count, dtype: int64

In [109]:
df_2.drop_duplicates(inplace=True)

In [110]:
df_2.shape

(54, 8)

In [111]:
df_2

,R&D Spend,Sales,Administration,Marketing Spend,Profit,Chennai,Coimbatore,Trichy
0,210983.000000,210983.000000,20938.000000,635.000000,210937.00,1,0,0
1,327849.000000,327849.000000,28746.000000,948.000000,384664.00,1,0,0
2,210983.000000,210983.000000,20938.000000,194802.922586,210937.00,1,0,0
3,327849.000000,327849.000000,116865.793051,948.000000,384664.00,1,0,0
4,165349.200000,165349.200000,136897.800000,471784.100000,192261.83,1,0,0
5,162597.700000,162597.700000,151377.590000,443898.530000,191792.06,0,0,1
6,153441.510000,153441.510000,101145.550000,407934.540000,191050.39,0,1,0
7,144372.410000,144372.410000,118671.850000,383199.620000,182901.99,1,0,0
8,142107.340000,142107.340000,91391.770000,366168.420000,166187.94,0,1,0
10,134615.460000,134615.460000,147198.870000,127716.820000,156122.51,0,0,1
11,131876.900000,131876.900000,99814.710000,362861.360000,156991.12,1,0,0
12,130298.130000,130298.130000,145530.060000,323876.680000,155752.60,0,1,0
13,123334.880000,123334.880000,108679.170000,304981.620000,149759.96,0,0,1
14,120542.520000,120542.520000,148718.950000,311613.290000,152211.77,1,0,0
15,119943.240000,119943.240000,156547.420000,256512.920000,132602.65,0,1,0
16,114523.610000,114523.610000,122616.840000,261776.230000,129917.04,1,0,0
17,101913.080000,101913.080000,110594.110000,229160.950000,146121.95,0,1,0
18,100671.960000,100671.960000,91790.610000,249744.550000,144259.40,0,0,1
19,94657.160000,94657.160000,145077.580000,282574.310000,125370.37,1,0,0
20,93863.750000,93863.750000,127320.380000,249839.440000,141585.52,0,1,0
21,91992.390000,91992.390000,135495.070000,252664.930000,134307.35,0,0,1
22,91749.160000,91749.160000,114175.790000,294919.570000,124266.90,0,1,0
23,86419.700000,86419.700000,153514.110000,0.000000,122776.86,1,0,0
24,78389.470000,78389.470000,153773.430000,299737.290000,111313.02,1,0,0
25,78013.110000,78013.110000,121597.550000,264346.060000,126992.93,0,0,1
26,77044.010000,77044.010000,99281.340000,140574.810000,108552.04,1,0,0
27,76253.860000,76253.860000,113867.300000,298664.470000,118474.03,0,0,1
28,75328.870000,75328.870000,144135.980000,134050.070000,105733.54,0,1,0
30,73994.560000,73994.560000,122782.750000,303319.260000,110352.25,0,1,0
31,72107.600000,72107.600000,127864.550000,353183.810000,105008.31,1,0,0
32,67532.530000,67532.530000,105751.030000,304768.730000,108733.99,0,1,0
33,66051.520000,66051.520000,182645.560000,118148.200000,103282.38,0,1,0
34,65605.480000,65605.480000,153032.060000,107138.380000,101004.64,1,0,0
35,64664.710000,64664.710000,139553.160000,137962.620000,107404.34,0,0,1
37,63408.860000,63408.860000,129219.610000,46085.250000,97427.84,0,0,1
38,61994.480000,61994.480000,115641.280000,91131.240000,99937.59,0,1,0
39,61136.380000,61136.380000,152701.920000,88218.230000,97483.56,1,0,0
40,55493.950000,55493.950000,103057.490000,214634.810000,96778.92,0,1,0
41,46426.070000,46426.070000,157693.920000,210797.670000,96712.80,0,0,1
42,46014.020000,46014.020000,85047.440000,205517.640000,96479.51,1,0,0
43,44069.950000,44069.950000,51283.140000,197029.420000,89949.14,0,0,1
44,38558.510000,38558.510000,82982.090000,174999.300000,81005.76,0,0,1
45,28754.330000,28754.330000,118546.050000,172795.670000,78239.91,0,0,1
46,28663.760000,28663.760000,127056.210000,201126.820000,90708.19,0,1,0
47,27892.920000,27892.920000,84710.770000,164470.710000,77798.83,0,1,0
48,23640.930000,23640.930000,96189.630000,148001.110000,71498.49,0,0,1
49,22177.740000,22177.740000,154806.140000,28334.720000,65200.33,0,0,1
50,20229.590000,20229.590000,65947.930000,185265.100000,81229.06,1,0,0
51,15505.730000,15505.730000,127382.300000,35534.170000,69758.98,1,0,0
55,1315.460000,1315.460000,115816.210000,297114.460000,49490.75,0,1,0
56,1000.230000,1000.230000,124153.040000,1903.930000,64926.08,1,0,0
57,542.050000,542.050000,51743.150000,0.000000,35673.41,1,0,0
58,86311.235424,86311.235424,135426.920000,194802.922586,42559.73,0,0,1
59,0.000000,0.000000,116983.800000,45173.060000,14681.40,0,0,1